<div class="container">
<%= for url <- @urls do %>
  <div class="row m-1 h2"><div class="col-7 text-left border text-truncate"><a class="align-middle"><%= url.url_name %></a></div><div class="col-1 text-center border text-truncate"><%= if (url.url_last_status == 200), do: "Online", else: "Offline"%></a></div><div class=""><%= button "Delete url", to: Routes.url_path(@conn, :delete, url.url_name), data: [confirm: "Sure?"], method: :delete, class: "btn btn-danger rounded" %></div></div>
<% end %>
</ul>

<%= link "New url", to: Routes.url_path(@conn, :new), class: "btn btn-primary btn-lg"  %>
